= 'Email'
= @user.email
.br
- if @wallet
	= 'Limit'
	= @user.wallet.limit
	.br
	= "Network Address"
	= @user.wallet.network_address
	.br
	= "Fish Code"
	= @user.wallet.code

.br
= link_to 'Edit data', edit_user_registration_path
= link_to "Back", root_path