%h1 Blockchain#index
%p Find me in app/views/blockchain/index.html.haml

%h2 info dsadsadas

= form_for(:wallet, url: claim_code_path, html: { method: :post }) do |f|
	= f.text_field :code
	= f.submit "Claim"
	= link_to 'Get your FishCode', blockchain_token_request_path, class: "btn btn-info"
	= link_to 'Skip', edit_user_registration_path , class: "btn btn-info"

