=provide(:title, I18n.t('about.title'))
.container.mt-80
  .row
    .col-sm-12
      .heading-block
        %h2.heading
          =I18n.t('about.considerations')
          %span.color1= I18n.t('about.considerations_leg')
        %p.sub-heading= I18n.t('about.considerations_cont')
  .row
    .col-sm-7
      %p.justify 
        =I18n.t('about.issue_control')
        %br
        =I18n.t('about.issue_1')
        %br
        =I18n.t('issue_2')
        %br
        %br
        %b=I18n.t('about.issue_3')
      .row.mt-40
        .col-sm-6
          %h4= I18n.t('about.central_point')
          %p= I18n.t('about.central_main')
        .col-sm-6
          %h4= I18n.t('about.legal_basis')
          %p 
            =link_to I18n.t('about.act'), "http://dziennikustaw.gov.pl/du/2017/1458/1", target: "_blank"  
            = I18n.t('about.legal_main')
    .col-sm-5.mt-20
      =image_tag("low1.png", alt: "O to walczymy!", class: "img-responsive")
%br