=provide(:title, I18n.t('contact.title'))
.page-header
  .container.mt-80
    .row
      .col-sm-12
        .mt-20
      .col-sm-4.mt-20
        %h3.heading=I18n.t('contact.visit_us')
        %p.justify=I18n.t('contact.working_time')
        %br/
        %address
          %strong Canna Hub Sp. z o.o.
          %br
          %span=I18n.t('contact.krs')
          %b 0000734077
          %br
          %span REGON: 
          %b 380360586
          %br
          %span NIP: 
          %b 5252751926
          %br/
          =I18n.t('contact.adress1')
          %br/
          =I18n.t('contact.adress2')
          %br/
        %ul.contact-list.contact-list-2x
          %li
            %i.fa.fa-phone 
            =I18n.t('office_nr')
          %li 
            %i.fa.fa-phone 
            =I18n.t('phone_nr')
          %li
            %i.fa.fa-envelope
            =I18n.t('e-mail')
        %br/
      .col-sm-8.mt-20
        %h3.heading
          =I18n.t('contact.contact_us')
          %span.color1=I18n.t('contact.hearing')
        %form#main-contact-form
          .row
            .col-sm-4
              .form-group
                %input#fname.form-control{:name => "fname", :placeholder => "#{I18n.t('contact.first_name')}", :type => "text"}/
            .col-sm-6
              .form-group
                %input#lname.form-control{:name => "lname", :placeholder => "#{I18n.t('contact.last_name')}", :type => "text"}/
          .form-group
            %input#email.form-control{:name => "email", :placeholder => "#{I18n.t('contact.email')}", :type => "text"}/
          .form-group
            %input#subject.form-control{:name => "subject", :placeholder => "#{I18n.t('contact.subject')}", :type => "text"}/
          .form-group
            %textarea#message.form-control{:name => "message", :placeholder => "#{I18n.t('contact.message')}", :rows => "5"}
          %p#status
          .form-group
            %button.btn.btn-primary{:name => "submit", :type => "submit"}
              %i.fa.fa-paper-plane
              =I18n.t('contact.submit')
  .container-fluid.mt-80
    .row
      .col-sm-12.no-gutter
        / The div element for the map
        .gmap#map
  #back
    %i.fa.fa-angle-up
/ Load the API from the specified URL
/ The async attribute allows the browser to render the page while the API loads
/ The key parameter will contain your own API key (which is not needed for this tutorial)
/ The callback parameter executes the initMap() function
%script{:async => "", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?key=#{ENV["GOOGLE_MAPS_KEY"]}&callback=initMap", :type => "text/javascript"}