= form_for @wallet do |f|
  - if @wallet.errors.any?
    #error_explanation
      %h2= "#{pluralize(@wallet.errors.count, "error")} prohibited this wallet from being saved:"
      %ul
        - @wallet.errors.full_messages.each do |message|
          %li= message
          
  .field
    = f.label :coin_type
    = f.number_field :coin_type
  .field
    = f.label :network_address
    = f.text_field :network_address
  .actions
    = f.submit 'Save'
