%header.header-3
  / Header Style 3
  .topbar
    / Topbar
    .container
      .row
        .col-sm-6
          %ul.social
            %li
              = link_to 'en', url_for(locale: :en)
            / %li
            /   = link_to 'de', url_for(:locale => 'de')
            %li
              = link_to 'pl', url_for(locale: 'pl')
        .col-md-6
          %ul.contact
            %li
              %span=I18n.t('header.email_us')
              =I18n.t('e-mail')
          - if current_user
            -if @wallet
              %button.btn.btn-success.btn-xs{"data-target" => "#modal-checkcode", "data-toggle" => "modal", type: "btn btn-success btn-xs"} kup
            = link_to 'Rybka', blockchain_dashboard_path, class: "btn btn-success btn-xs"
            = link_to I18n.t('header.logout'), destroy_user_session_path, method: :delete , class: "btn btn-success btn-xs"
          - else
            = link_to 'Rejestracja', new_user_registration_path, class: "btn btn-success btn-xs"
            = link_to 'Logowanie', new_user_session_path, class: "btn btn-success btn-xs"

= render 'blockchain/choose_payment'
