!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "Canna Hub Spółka z o.o.", :name => "description"}/
    %meta{:content => "APIIINSTYTUT", :name => "author"}/
    / / Favicon
    / %link{:href => "favicon.ico", :rel => "icon", :type => "image/x-icon"}/
    / Slider Revolution
    / %link{:href => "slider-revolution/css/settings.css", :rel => "stylesheet", :type => "text/css"}/
    / %link{:href => "slider-revolution/css/layers.css", :rel => "stylesheet", :type => "text/css"}/
    / %link{:href => "slider-revolution/css/navigation.css", :rel => "stylesheet", :type => "text/css"}/
    / Google Fonts
    %link{:href => "https://fonts.googleapis.com/css?family=Exo+2|Open+Sans:300,400,700", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Exo+2|Volkhov:400,400i", :rel => "stylesheet"}/

    / Respond.js and HTML shiv provide HTML5 support in older browsers like IE9 and 8
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    %title= full_title(yield(:title))
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    -#= render 'layouts/loader'
    = render 'layouts/header'
    = render 'layouts/slider'
    = yield
    = render 'layouts/footer'

/ Permission for Setting Cookies
/ .alert.alert-dismissible.alert-cookies
/   .container
/     .row
/       .col-sm-12
/         Szanowna Użytkowniczko! Szanowny Użytkowniku!
/         Aby dalej móc dostarczać coraz lepsze materiały redakcyjne i udostępniać coraz lepsze usługi, potrzebujemy zgody na dopasowanie treści marketingowych do Twojego zachowania. Dzięki nim możemy finansować rozwój naszych usług. Dbamy o Twoją prywatność. Nie zwiększamy zakresu naszych uprawnień. Twoje dane są u nas bezpieczne, a zgodę możesz wycofać w każdej chwili na podstronie polityka prywatności.
/         \  
/         %button.btn.btn-primary.btn-sm{"data-dismiss" => "alert", :type => "button"} Akceptuję
