!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "Cannabis House Spółka z o.o.", :name => "description"}/
    %meta{:content => "APIIINSTYTUT", :name => "author"}/
    / / Favicon
    / %link{:href => "favicon.ico", :rel => "icon", :type => "image/x-icon"}/
    / Slider Revolution
    / %link{:href => "slider-revolution/css/settings.css", :rel => "stylesheet", :type => "text/css"}/
    / %link{:href => "slider-revolution/css/layers.css", :rel => "stylesheet", :type => "text/css"}/
    / %link{:href => "slider-revolution/css/navigation.css", :rel => "stylesheet", :type => "text/css"}/
    / Google Fonts
    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans:300,400,700", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Volkhov:400,400i", :rel => "stylesheet"}/
    / Respond.js and HTML shiv provide HTML5 support in older browsers like IE9 and 8
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    %title= full_title(yield(:title))
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    -#= render 'layouts/loader'
    = render 'layouts/header'
    = yield
    = render 'layouts/footer'
